body {
    padding-top: 3.5rem;
}

#map, .map {
    min-height: 50vh;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.categories.row {
    margin-top: 20px;
}

.rounded {
    border-radius: 10px;
    background-color: #e8e8e8;
    padding: 10px;
    margin-top: 10px;
}

.rounded h1, .rounded h2, .rounded h3, .rounded h4, .rounded h5 {
    color: #0090bf;
}

nav a.btn {
    margin-right: 10px;
}

#places-list a.btn, #product-list a.btn {
    margin-right: 10px;
}